<!DOCTYPE html>
<html>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'propertyanalysis/style.css' %}">

  <form action=#>
    <div class="column">
      <b>Income</b><br>
      Rental income: <input type="text" name="rincome"><br>
      Laundry income: <input type="text" name="lincome"><br>
      Storage income: <input type="text" name="sincome"><br>
      Misc income: <input type="text" name="mincome"><br>
    </div>

    <div class="column">
      <b>Cash Flow</b><br>
      Total Monthly Income: <input type="text" name="tmincome"><br>
      Total Monthly Expenses: <input type="text" name="tmexpenses"><br>
    </div>
    
    <div class="column">
      <b>Expenses</b><br>
      Taxes: <input type="text" name="taxes"><br>
      Insurance: <input type="text" name="insurance"><br>
      Water/Sewer: <input type="text" name="water"><br>
      Garbage: <input type="text" name="garbage"><br>
      Electric: <input type="text" name="electric"><br>
      Gas: <input type="text" name="gas"><br>
      HOA Fees: <input type="text" name="hoa"><br>
      Lawn/Snow: <input type="text" name="lawnsnow"><br>
      Vacancy: <input type="text" name="vacancy"><br>
      Repairs: <input type="text" name="repairs"><br>
      CapEx: <input type="text" name="capex"><br>
      Prop. Management: <input type="text" name="propmgmt"><br>
      Mortgage: <input type="text" name="mortgage"><br>
    </div>
    
    <div class="column">
      <b>Cash on Cash Return</b><br>
      Down Payment: <input type="text" name="dwnpayment"><br>
      Closing Costs: <input type="text" name="closingcosts"><br>
      Rehab Budget: <input type="text" name="rehab"><br>
      Misc. Other: <input type="text" name="other"><br>
    </div>
  </form>
</html>
