<!DOCTYPE html>
<html>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'propertyanalysis/style.css' %}">

  <form action=#>
    <div class="column">
      <b>Income</b><br>
      Rental income: <input type="text" name="rincome"><br>
      Laundry income: <input type="text" name="lincome"><br>
      Storage income: <input type="text" name="sincome"><br>
      Misc income: <input type="text" name="mincome"><br>
    </div>

    <div class="column">
      <b>Cash Flow</b><br>
      Total monthly income: <input type="text" name="tmincome"><br>
      Total monthly expenses: <input type="text" name="tmexpenses"><br>
    </div>
  </form>
</html>
